body {
	background-color: grey;

	.container {
		float: left;
		display: block;
		padding-left: 35px;
		margin-bottom: 12px;
		margin-right: 30px;
		font-size: 22px;

		p {
			padding-top: 15px;
			text-align: center;
		}

		label {
			width: 150px;
			height: 60px;
			display: block;
			margin: 20px 0 0 20px;
		    background-color:#ddd;
		    padding: 10px 20px;
		    font-family:Arial;
		    font-size:16px;
		    border: 2px solid #444;
		    border-radius: 4px;  
		    &:hover {
		    	background-color: #dfd;
		    }  

			input[type="radio"] {
				display: none;
				cursor: pointer;
				&:checked + label {
					background-color:#dfd;
    				border-color: #4c4;
				}
			}
		}

	}

	#gameCanvas {
		margin: 10px auto;
    	display: block;
    	float: left;
	}
}